eln-cache/
var/
straight/
.cache/
.extension/

bookmarks
custom.el
doctor.el
forge-database.sqlite
forge/
games/
transient/
ido.last
mail/
network-security.data
org-graph-view/

elpa/*
eshell/*
auto-save-list/*
server/*

projectile-bookmarks.eld
/init.el_bkc
/box-specifics/
/projectile.cache
/remote_tools/
/shell_setup/
/tramp
/url/
emacs-custom.el
.lsp-session-v1
/elpaca/
/.packages/
